*{
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    position: relative;
}
header{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
    width: 100%;
    height: 8vh;
    background-color: #3d405b;
    color: white;
    position: fixed;
}
header .logo-container{
    display: flex;
    gap: 3%;
    cursor: pointer;
}
header .logo-container img{
    filter: invert(1);
    margin-top: 1%;
}
header .tiya-container{
    display: flex;
    flex-direction: column;
}
header .tiya-container .size1{
    font-size: 24px;
    font-weight: 700;
}
header .tiya-container .size2{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
header .right-header{
    display: flex;
    align-items: center;
    gap: 2%;
    width: 70%;
}
header ul li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    font-size: 16px;
}
header ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
header ul li a:hover{
    color: #edc88d;
}
.fa-angle-down:hover{
    color: #edc88d;
}
header .dropdown{
    position: relative;
    padding: 20px;
}
header .dropdown-content{
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    color:grey;
    width: 100px;
    top: 40px;
    padding: 0px 20px 20px;
    border-radius: 5px;
    margin-top: 20px;
}
header .dropdown-content div{
    margin-top: 14%;
}
header .dropdown-content a{
    color: grey;
    font-size: 16px;
    font-weight: 400;
}
header .dropdown:hover .dropdown-content{
    display: block;
}
.btn-prime{
    color: #edc88d;
    background-color: transparent;
    border: 2px solid #edc88d;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 700;
}
.btn-prime a{
    color: #edc88d;
    text-decoration: none;
}
.btn-prime a:hover{
    color: white;
}
.btn-prime:hover{
    background-color: #edc88d;
    color: white;
}
.membershipsvg{
    margin-left: -10%;
}
.sidebar-content {
    position: absolute;
    background-color: #81b29a;
    color: black;
    width: 30%;
    right: -30%;
    height: 100vh;
    top: 0;
    padding: 50px;
    transition: 0.4s ease-in-out;
}
.sidebar-content.open {
    right: 0;
}
.sidebar-content form{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.sidebar-content form .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-content form .fa-xmark {
    font-size: 28px;
    color: #40594d;
    transition: transform 0.4s ease;
    cursor: pointer;
}
.sidebar-content form .fa-xmark:hover {
    transform: rotate(180deg);
    color:black
}
.sidebar-content form .p{
    font-size: 24px;
    font-weight: 500;
}
.sidebar-content form label{
    margin-top: 8%;
    font-size: 17px;
    color:#313c3c;
    font-weight: 500;
}
.sidebar-content form input{
    padding: 10px 20px;
    margin-top: 3%;
    border-radius: 50px;
    border: 2px solid #dee2e6;
    font-size: 18px;
}
.sidebar-content form input:hover{
    border: 2px solid black;
}
.sidebar-content form .check-box{
    margin-top: 4%;
    color:#313c3c;
    font-weight: 500;
    display: flex;
    gap: 3%;
}
.sidebar-content form .check-box div{
    margin-top: 2%;
}
.sidebar-content form button{
    padding: 14px 42px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: #edc88d;
    font-weight: 500;
    font-size: 16px;
    margin-top: 8%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.sidebar-content form button:hover{
    background-color: #e07a5f;
}
.sidebar-content form a{
    color: #495466;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.sidebar-content form a:hover{
    color: #edc88d;
}
.sidebar-content form .bottom{
    margin-top: 40%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-content form .bottom h4{
    font-size: 18px;
    color: white;
}
.sidebar-content form .bottom a{
    font-size: 20px;
    color: #4b5768;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.sidebar-content form .bottom a:hover{
    color: #edc88d;
}
.home .svg1{
    position: relative;
    margin-top: 0.5%;
}
.home .svg2{
    margin-top: 15%;
    transform: rotate(180deg);
}
.home{
    background-image: url("	https://templatemo.com/templates/templatemo_587_tiya_golf_club/images/anna-rosar-ZxFyVBHMK-c-unsplash.jpg");
    background-position: center;
    position: relative;
    width: 100%;
    height: 60vh;
}
.exchange {
    display: inline;
    color: #f2cc8f;
}
.overlay{
    width: 100%;
    height: 100%;
    margin-top: -10%;
    position: absolute;
    background-color: #3d405b;
    opacity: 0.5;
}
.home1{
    margin-top: -15%;
    width: 70%;
    position: absolute;
    display: flex;
    margin: 0% 8% 12%;
    color: white;
}
.home1 .left .h1{
    margin-top: 15%;
    font-size: 40px;
}
.home1 .left .down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 8% 0%;
    margin-top: 5%;
}
.home1 .left h1{
    font-size: 36px;
    line-height: 1.5;
    color: white;
}
.btn-prime-full{
    background-color: #edc88d;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 700;
    border: none;
}
.btn-prime-full a{
    color: white;
    text-decoration: none;
}
.btn-prime-full a:hover{
    color: white;
}
.btn-prime-full:hover{
    background-color: #fb8449;
}
.latest-events{
    margin: 5% 7%;
}
.latest-events h1{
    font-size: 36px;
}
.latest-events .images{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.latest-events .images img{
    border-radius: 20px;
    position: relative;
}
.latest-events .images .images-down{
    position: absolute;
    top: 53pc;
    display: flex;
    padding: 20px 0px;
}
.images-down h4{
    background-color: #81b29a;
    color: white;
    padding: 10px 100px;
    border-bottom-left-radius: 20px;
}
.images-down button{
    background-color: #edc88d;
    color: white;
    font-weight: 600;
    padding: 0px 134px;
    border: none;
    border-bottom-right-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.images-down button:hover{
    background-color: #e07a5f;
}
.latest-content{
    display: flex;
    column-gap: 5%;
}
.latest-content .h1{
    font-size: 32px;
    color: #3d405b;
}
.latest-content p {
    font-size: 18px;
    margin-top: 2%;
}
.small{
    display: flex;
    column-gap: 26%;
}
.small .small-container{
    width: 25%;
}
.grey{
    color: grey;
    font-size: 18px;
}
.grey1{
    color: grey;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 1%;
}
.events{
    padding: 6% 8%;
    background-color: #f4f1de;
}
.events img{
    border-radius: 20px;
}
.events .h1{
    font-size: 36px;
    font-weight: 700;
}
.events .events-container{
    margin-top: 2%;
}
.events .events-container .up{
    padding: 20px 30px;
    display: flex;
    gap:3%;
    width: 100%;
    height: 35vh;
}
.events .events-container .up .up-upper{
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 30px;
}
.events .calendar{
    text-align: center;
    border-radius: 20px;
    padding: 20px 60px;
    max-height: 25%;
    background-color: #81b29a;
}
.events .calendar p{
    font-size: 38px;
    font-weight: 500;
}
.events .calendar .h2{
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.events .up-activities{
    width: 40%;
}
.events .up-activities .h4{
    font-size: 26px;
    color: #3d405b;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.events .up-activities .h4:hover{
    color: #f2cc8f;
}
.violet{
    color: #3d405b;
    font-size: 30px;
}
.boldness{
    font-weight: 600;
}
.small-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.small-container button{
    background-color: #f2cc8f;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.events .small-container button:hover{
    background-color: #fb8449;
}
.bg{
    border-radius: 20px;
    background-color: white;
}
.contact{
    padding: 3% 7%;
    height: 30vh;
}
.contact h1{
    font-size: 34px;
}
.contact .contact-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 80%;
    height: 50%;
}
.contact-down{
    display: flex;
    gap: 30%;
    margin: 5% 0%;
}
.logo-container1{
    display: flex;
    gap: 3%;
    cursor: pointer;
}
.logo-container1 .h2{
    font-size: 24px;
    font-weight: 700;
}
.logo-container1 .h4{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.content-container{
    display: flex;
    gap: 18%;
    width: 150%;
}
.small-container1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    gap:40px
}
.fa-brands{
    background-color: #3d405b;
    color: white;
    padding: 6% 7%;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.fa-brands:hover{
    background-color:#81b29a;
}
.icons{
    display: flex;
    gap: 10px;
}
.final-text{
    display: flex;
    align-items: center;
    gap: 2%;
    font-size: 18px;
    font-weight: 400;
}
.violet1{
    color: #3d405b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.violet1:hover{
    color: #f2cc8f;
}
.violet-1{
    color: #3d405b;
    font-size: 16px;
}
.footersvg{
    margin-bottom: -10%;
}